 body {
  background-color: #4b5d67;
}

.a {
  width: 150px;
  height: 1px;
  background-color: red;
  -ms-transform: rotate(0deg);
  /* IE 9 */
  transform: rotate(0deg);
}

.aa {
  width: 150px;
  height: 1px;
  background-color: red;
  -ms-transform: rotate(20deg);
  /* IE 9 */
  transform: rotate(20deg);
}

.b {
  width: 150px;
  height: 1px;
  background-color: red;
}

.bb {
  width: 120px;
  height: 1px;
  background-color: red;
  -ms-transform: scaleY(1.5);
  /* IE 9 */
  transform: scaleY(1.5);
}

#my {
  width: 300px;
  height: 1px;
  background-color: red;
  border: 1px solid black;
  -ms-transform: translate(100px, 80px);
  /* IE 9 */
  -webkit-transform: translate(100px, 80px);
  /* Safari */
  transform: translate(100px, 80px);
  /* Standard syntax */
  position: relative;
  right: 85px;
  bottom: 50px;
}

/* div#tra {
  position: relative;
  bottom: 400px;
} */

.topleft {
  position: absolute;
  left: 100px;
  top: 100px;
}

.bottomleft {
  position: absolute;
  left: 100px;
  bottom: 100px;
}

.topright {
  position: absolute;
  top: 100px;
  right: 100px;
}

.botom {
  position: relative;
  left: 1300px;
  top: 550px;
}

.home {
  position: relative;
  right: 550px;
  bottom: 100px;
}

.center {
  position: relative;
  right: 585px;
  bottom: 300px;
}

.container {
  width: 100vw;
  height: 1vh;
}

.box {
  width: 200px;
  height: 1px;
  transition-duration: 2s;
  transition-property: width;
  display: flex;
  /* justify-content: center;
  align-items: center; */
}

.container:hover .box {
  width: 600px;
}



.one {
  background: red;
  transition-timing-function: linear;
}

.two {
  background: red;
  transition-timing-function: ease-in;
}

.three {
  background: red;
  transition-timing-function: ease-out;
}

.four {
  background: red;
  transition-timing-function: ease-in-out;
}

/*
transition-delay: 0;
transition-duration: 1.5s;
transition-property: background;
transition-timing-function: ease;
*/
.box {
  background: orange;
  transition-property: background;
  transition-duration: 1.5s;
  transition-timing-function: linear;
}

.box:hover {
  background: red;
}

#ani {
  font-size: 3.5em;
  width: 60px;
  height: 60px;
  position: relative;
  animation: myfirst 5s infinite;
  animation-direction: normal;
}

@keyframes myfirst {
  0% {

  }

  20% {
    top: 100px;
  }

  40% {
    top: 50px;
  }

  60% {
    left: 100px;
    top: 50px;
  }

  80% {
    left: 100px;
  }

  100% {
    left: 100px;
    top: 100px;
  }
}
